@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Roboto:ital@1&family=Titillium+Web:wght@200&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: darkslategrey;
}

h1 {
    text-align: center;
    color: wheat;
}

.searchBar{
    width: 100%;
    text-align: center;
    border: none;
}

