<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Twitter Sentiment Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <h1>Twitter Sentiment App</h1>
    <form action = '{{ url_for('search') }}' method = "POST">
      <div class="searchBar">
        <input type = 'text' name="Topic" placeholder="search topic..." />
        <input type = "submit" value="submit" />
      </div>
    </form>
  </body>
</html>